.Questions{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.inputs input{
    width: 20%;
}
[type="submit"]{
    padding: 10px 20px;
    color: #fff;
    background: #597824;
    transition: .6s;
}

[type="submit"]:disabled {
    background-color: rgba(255, 0, 0, 0.316);
    padding: 5px 10px;
}
a{
    width: 100%;
}